<nav class="navbar navbar-dark bg-dark navbar-expand head" th:fragment="nav-bar" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <a class="navbar-brand" href="/" th:href="@{'/'}">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{'/category'}">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/'}">О нас</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{'/admin_panel'}">Администрирование</a>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{'/admin_baners'}">Банеры</a>
                </li>
                <li sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="nav-item">
                    <a class="nav-link" th:href="@{'/admin_products'}">Товары</a>
                </li>
                <li sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="nav-item">
                    <a class="nav-link" th:href="@{'/admin_orders'}">Ордера</a>
                </li>
            </ul>
        </div>
<!--        <div class="form-inline">-->
<!--            <form method="get" th:action="@{/search}" class="col-md-10">-->
<!--                <div class="input-group mb-10">-->
<!--                    <label for="search" class="form-label">поиск</label>-->
<!--                    <input type="text" class="form-control" placeholder="Поиск товара" id="search" name="search">-->
<!--                    <button class="btn btn-outline-secondary" type="submit">поиск</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
        <i class="fas fa-shopping-bag shopping-cart-badge" onclick="displayCart()"></i>

        <div class="form-inline">
            <a sec:authorize="!isAuthenticated()" th:href="@{'/auth'}" class="btn btn-sm btn-outline-secondary">Войти</a>
        </div>
        <form sec:authorize="isAuthenticated()" method="get" th:action="@{'/users/user/' + ${#authentication.getName()}}" class="form-inline">
            <button type="submit" class="btn btn-sm btn-outline-secondary" th:text="${#authentication.getName()}"></button>
        </form>
        <div id="shoppingCart" class="shopping-cart d-none">
        </div>

        <script>getAndRenderCart();</script>
    </div>
</nav>