<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="currentPage='Форма изменения статуса'">
<head th:include="fragments/common-head">
    <title>Форма изменения статуса</title>
</head>
<body class="content">
<nav th:replace="fragments/nav-bar::nav-bar">
</nav>
<div class="container">
    <h1>Форма изменения статуса</h1>
    <div class="row">
        <form method="post" th:action="@{${'/management/item/' + orderItem.id}}" class="col-md-6" th:object="${orderItem}">
            <div class="mb-3">
                <label for="status" class="form-label">Статус</label>
                <select class="form-select" aria-label="Status" id="status" th:field="*{storageStatus}">
                    <option th:each="status : ${statuses}" th:value="${status}" th:text="${status.getName()}"></option>
                </select>
            </div>
            <a th:href="@{'/management'}" class="btn btn-secondary">Отмена</a>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>
</body>
</html>
